<!DOCTYPE html>
<html class="sidebar-medium">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>{{try:}}{{=title}}{{except:}}{{=response.title or settings.get_system_name_short()}}{{pass}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="themes-lab" name="author" />
    <link href="/{{=appname}}/static/themes/{{=theme}}/css/icons/icons.min.css" rel="stylesheet">
    <link href="/{{=appname}}/static/themes/{{=theme}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="/{{=appname}}/static/themes/{{=theme}}/css/plugins.min.css" rel="stylesheet">
    <link href="/{{=appname}}/static/themes/{{=theme}}/css/style.min.css" rel="stylesheet">

    {{for sheet in s3.external_stylesheets:}}
     <link href="{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
    {{pass}}
    {{for sheet in s3.stylesheets:}}
     <link href="/{{=appname}}/static/styles/{{=sheet}}" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
    {{pass}}
    {{if s3.debug:}}{{=s3base.s3_include_debug_css()}}{{else:}}
     {{# Built by /static/scripts/tools/build.sahana.py }}
    {{pass}}
    {{include "scripts_top.html"}}
</head>
{{try:}}
 {{if r.representation == "popup":}}{{representation = "popup"}}
 {{elif r.representation == "iframe":}}{{representation = "iframe"}}
 {{else:}}{{representation = ""}}{{pass}}
{{except:}}{{representation = ""}}{{pass}}
{{if representation == "popup":}}
 <body class='popup'>
 {{if response.flash or response.confirmation:}}{{include "layout_popup.html"}}
 {{else:}}{{include}}{{pass}}
 {{if s3.debug:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.js"]))}}
 {{else:}}{{s3.scripts.append(URL(c="static", f="scripts", args=["S3", "s3.popup.min.js"]))}}{{pass}}
{{elif representation == "iframe":}}
 {{include "layout_iframe.html"}}
 {{include}}
{{else:}}
<body data-spy='scroll'>

    <!-- @todo : Use the menus like S3menus. Create a  file menus.py in the modules/templates/EIDMS/
        Here the menus are hard coded -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-center">{{= settings.get_system_name()}}</div>
            <div class="navbar-collapse collapse">
                {{is_logged_in=auth.is_logged_in()}}
                <ul class="nav navbar-nav pull-right header-menu">

                    <!-- BEGIN USER DROPDOWN -->
                    {{if is_logged_in:}}
                    <!-- @todo : to have user profile picture
                        Here i m using a sample user profile picture -->
                    <li class="dropdown" id="user-header">
                        <a href="#" class="dropdown-toggle c-white" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img src="/{{=appname}}/static/themes/{{=theme}}/img/avatars/avatar2.png" alt="user avatar" width="30" class="p-r-5">
                            <span class="username">{{=auth.user.first_name}} {{=auth.user.last_name}}</span>
                            <i class="fa fa-angle-down p-r-10"></i>
                        </a>
                        <ul class="dropdown-menu">
                           
                            <li><a href="/{{=appname}}/default/user/profile"><i class="glyph-icon flaticon-account"></i> My Profile</a></li>
                            <li>
                                <a href="/{{=appname}}/default/user/change_password">
                                    <i class="glyph-icon flaticon-calendar"></i> Change Password
                                </a>
                            </li>
                            <li>
                                <a href="/{{=appname}}/default/index/subscriptions">
                                    <i class="glyph-icon flaticon-settings21"></i> Account Settings
                                </a>
                            </li>
                            <li>
                            <a href="/{{=appname}}/default/user/logout">
                              <i class="fa fa-power-off"></i> {{=T("Logout")}}
                            </a>
                          </li>                       
                        {{pass}}
                        </ul>
                    </li>
                    <!-- END USER DROPDOWN -->

                </ul>
                <!-- END TOP NAVIGATION MENU -->
            </div>
        </div>
    </nav>



 </div>
 {{if is_logged_in:}}
    <div id="wrapper">
 {{else:}}
    <div id="wrapper" style="padding-left: 50px;">

 {{pass}}
        <!-- BEGIN MAIN SIDEBAR -->
        {{if is_logged_in:}}
        <nav id="sidebar">
            <div id="main-menu">
                <ul class="sidebar-nav ">
                    <li class="current">
                        <a href="/{{=appname}}/default"><i class="fa fa-dashboard"></i><span class="sidebar-text">{{=T("Dashboard")}}</span></a>
                    </li>
            
                    <li>
                        <a href="/{{=appname}}/org/"><i class="fa fa-dashboard"></i><span class="sidebar-text">{{=T("Organisation")}}</span></a>
                    </li>
                    <li>
                        <a href="/{{=appname}}/hrm/staff"><i class="glyph-icon flaticon-widgets"></i><span class="sidebar-text">{{=T("Staff")}} </a>
                    </li>
                    <li>
                        <a href="/{{=appname}}/project"><i class="glyph-icon flaticon-charts2"></i><span class="sidebar-text">{{=T("Projects")}}</span></a>
                    </li>
                
                    <li>
                        <a href="/{{=appname}}/inv/warehouse/"><i class="glyph-icon flaticon-email"></i><span class="sidebar-text">{{=T("Resource Inventory")}}</span></a>
                         
                    </li>

                    <li>
                        <a href="/{{=appname}}/event/event/datalist"><i class="fa fa-table"></i><span class="sidebar-text">{{=T("Missing Person")}}</span></a>
                        
                    </li>
                    <li>
                        <a href="/{{=appname}}/cr/shelter"><i class="glyph-icon flaticon-account"></i><span class="sidebar-text">{{=T("Foods and Shelters")}}</span></a>
                          
                    </li>
                </ul>
            </div>
            
        </nav>
        <!-- END MAIN SIDEBAR -->
    {{pass}}

        <!-- BEGIN MAIN CONTENT -->
        {{if is_logged_in:}}
        <div id="main-content">
        <div id='alert-space'>
          {{if response.error:}}
          <div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>×{{pass}}
          {{if response.warning:}}<div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.warning}}</div>{{pass}}
          {{if response.information:}}<div class='alert alert-info'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.information}}</div>{{pass}}
          {{if response.confirmation:}}<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.confirmation}}</div>{{pass}}
          {{if response.flash:}}<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.flash}}</div>{{pass}}

         </div>
        <div class="row">
            <div class='col-md-11'>
            {{include}}
            </div>
        </div>
        {{else:}}
        <div id="main-content">
        <div id='alert-space'>
          {{if response.error:}}
          <div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>×{{pass}}
          {{if response.warning:}}<div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.warning}}</div>{{pass}}
          {{if response.information:}}<div class='alert alert-info'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.information}}</div>{{pass}}
          {{if response.confirmation:}}<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.confirmation}}</div>{{pass}}
          {{if response.flash:}}<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>×</button>{{=response.flash}}</div>{{pass}}

         </div>
        <div class="row">
            
            {{include}}
          
        </div>
        
          
        </div>
        </div>
          
          </div>
        </div>{{pass}}
        <!-- END MAIN CONTENT -->
  <div id='footer'>
   {{include "../modules/templates/%s/views/footer.html" % response.s3.theme}}
   {{if s3.debug:}}{{=s3.toolbar()}}{{pass}}
  </div>
    </div>
    {{pass}}
    <!-- END WRAPPER -->
    <script src="/{{=appname}}/static/themes/{{=theme}}/bootstrap-hover-dropdown.min.js"></script>
    <script src="/{{=appname}}/static/themes/{{=theme}}/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/{{=appname}}/static/themes/{{=theme}}/image-slider.js"></script>
    
    <script>
    var slider = new IdealImageSlider.Slider('#slider');
    slider.addCaptions();
    slider.start();
    </script>

    <script src="/{{=appname}}/static/themes/{{=theme}}/bootstrap-switch.js"></script>
    {{include "scripts.html"}}
    <!-- BEGIN MANDATORY SCRIPTS -->
   

</body>

</html>